<template>
    <div>
        <transition name="fade" mode="out-in">
            <div>
                <router-view></router-view>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    name: "index"
}
</script>

<style scoped>

</style>