<template>
    <div :class="['timetable-body-date-item', { 'isSaturday' : isSaturday, 'isSunday' : isSunday }]">
        <div>{{ dateText }}</div>
        <div>
            <b-form-timepicker
                v-if="editMode"
                v-model="timeItem"
                placeholder="Podaj czas"
                locale="pl"
            >
            </b-form-timepicker>
            <template v-else>
                <p v-if="timeItem">
                    {{ timeItem }}
                </p>
                <p v-else>
                    --
                </p>
            </template>
        </div>
        <div>
            <input
                v-if="editMode"
                v-model="descriptionItem"
                type="text"
                class="form-control"
            >
            <template v-else>
                <p v-if="descriptionItem">
                    {{ descriptionItem }}
                </p>
                <p v-else>
                
                </p>
            </template>
        </div>
        <div>
            <template v-if="editMode">
                <div class="btn-group">
                    <button class="btn btn-primary" v-if="editMode" @click="saveData">
                        <i class="fas fa-save" v-if="editMode"></i>
                    </button>
                    <button class="btn btn-warning text-white" @click="changeMode">
                        <i class="fas fa-undo-alt"></i>
                    </button>
                </div>
            </template>
            <template v-else>
                <button class="btn btn-primary" :disabled="disabledEdit" @click="changeMode">
                    <i class="fas fa-pen"></i>
                </button>
            </template>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
    name: 'TimetableItem',
    
    props: ['date', 'dateText', 'time', 'description', 'getCurrentWorkedTime'],
    
    computed: {
        isSaturday(){
            const date = moment(this.date)
            return date.format('d') === '6' ? true : false
        },
        
        isSunday(){
            const date = moment(this.date)
            return date.format('d') === '0' ? true : false
        },
    
        disabledEdit(){
            const date = moment(this.date)
            if((this.working_saturday === 0 &&  date.format('d') === '6') || (this.working_sunday === 0 &&  date.format('d') === '0')) return true
        },
    },
    
    data(){
        return {
            timeItem: this.time,
            descriptionItem: this.description,
            editMode: false,
            isEmpty: true,
            hours_daily: '',
            working_saturday: 0,
            working_sunday: 0,
            isSend: false,
        }
    },
    
    created() {
        this.getUserSettings()
    },
    
    mounted() {
        this.check()
    },
    
    watch:{
        time(val){
            this.timeItem = val
        },
        
        timeItem(){
            this.timeItem = this.timeItem.split(':').slice(0, 2).join(':')
        },
    
        description (val){
            this.descriptionItem = val
        },
    
        editMode(nv){
            if(nv){
                if(!this.time.length)
                    this.timeItem = this.hours_daily
            }else{
                if(!this.isSend)
                    this.timeItem = this.time
            }
        }
    },
    
    methods: {
        async getUserSettings(){
            await axios.get('/api/user/settings')
                .then(({ data }) => {
                    this.hours_daily = data.hours_daily
                    this.working_saturday = data.working_saturday
                    this.working_sunday = data.working_sunday
                })
        },
        
        check(){
            if(this.time.length) this.isEmpty = false
        },
        
        changeMode() {
            this.editMode = !this.editMode
        },
    
        saveData(){
            const URL = !this.isEmpty ? '/api/user/timetable-update' : '/api/user/add-new-timetable'
            const axiosMethod = !this.isEmpty ? 'patch' : 'post'
            const sendData = {
                date: this.date,
                time: this.timeItem,
                description: this.descriptionItem
            }
    
            axios({
                method: axiosMethod,
                url: URL,
                data: sendData
            })
            .then(() => {
                (!this.isEmpty) ? this.$toast.success(`Zaktualizowano ${this.date}`) : this.$toast.success("Dodano nową godzinę")
                this.editMode = false
                this.isSend = true
                this.getCurrentWorkedTime()
            })
            .catch(e => {
                console.log(e)
                this.$toast.error("Błąd")
                
            })
        }
    },
}
</script>