<template>
    <div>
        <div class="mb-5">
            <p>W tym miesiącu przpracowałeś/aś: <b>{{ workTime }}</b> na: {{ monthWorkTime }}</p>
        </div>
        
        <div class="timetable">
            <div class="timetable-header">
                <button class="btn" @click="getMonth('prev')">
                    <i class="fas fa-angle-left"></i>
                </button>
                <h3>{{ monthName.charAt(0).toUpperCase() + monthName.slice(1) }}</h3>
                <button class="btn" @click="getMonth">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
            <div class="timetable-body">
                <div class="timetable-body-header">
                    <div>Data</div>
                    <div>Godzina</div>
                    <div>Opis</div>
                    <div>Akcja</div>
                </div>
                <div class="timetable-body-date">
                    <TimetableItem
                        v-for="(item, index) in currentMonth"
                        :date="item.date"
                        :dateText="item.dateText"
                        :time="item.time"
                        :description="item.description"
                        :getCurrentWorkedTime="getCurrentWorkedTime"
                        :key="index"
                    ></TimetableItem>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import _ from 'lodash'
import TimetableItem from '@/components/timetable/TimetableItem'

export default {
    name: 'Timetable',
    
    components: {
        TimetableItem
    },
    
    data(){
        return {
            today: moment().locale('pl'),
            monthName: '',
            currentMonth: [],
            monthLength: '',
            workTime: '',
            monthWorkTime: '',
            hours_daily: '',
            working_saturday: 0,
            working_sunday: 0,
        }
    },
    
    created() {
        this.getUserSettings()
    },
    
    mounted() {
        this.getCurrentMonth()
        this.getCurrentWorkedTime()
    },
    
    methods: {
        async getUserSettings(){
            await axios.get('/api/user/settings')
                .then(({ data }) => {
                    this.hours_daily = data.hours_daily
                    this.working_saturday = data.working_saturday
                    this.working_sunday = data.working_sunday
                })
        },
        
        getMonth(prev){
            let monthLength
            if(prev === 'prev') monthLength = (this.monthLength * -1) + 1
            else monthLength = this.monthLength
            
            this.today.add('days', monthLength)
    
            this.getCurrentMonth()
            this.getCurrentWorkedTime()
        },
        
        async getCurrentMonth(){
            this.currentMonth = []
            this.monthName = this.today.format('MMMM YYYY')
            const monthDate = this.today.startOf('month')
            const actualMonth = this.today.format('MM')
            const actualYear = this.today.format('YYYY')
    
            const array = [...Array(monthDate.daysInMonth())].map((_, i) => monthDate.clone().add(i, 'day'))
            _.forEach(array, (value) => {
                this.currentMonth.push({
                    date: value.format('YYYY-MM-DD'),
                    dateText: value.format('DD.MM.YYYY'),
                    time: '',
                    description: ''
                })
            })
            
            await axios.get(`/api/user/timetable/${actualYear}/${actualMonth}`)
            .then(({ data }) => {
                _.forEach(data, (value) => {
                    this.currentMonth.push({
                        date: moment(value.date).format('YYYY-MM-DD'),
                        dateText: moment(value.date).format('DD.MM.YYYY'),
                        time: value.time,
                        description: value.description
                    })
                })
    
                this.currentMonth = [...new Map(this.currentMonth.map(v => [v.date, v])).values()]
            })
    
            this.monthLength = this.currentMonth.length
            
            let times = []
            _.forEach(this.currentMonth, (item) => {
                const date = moment(item.date)
                
                if(!(this.working_saturday === 0 && date.format('d') === '6') && !(this.working_sunday === 0 &&  date.format('d') === '0')){
                    if(this.hours_daily.length)
                        times.push(this.hours_daily)
                    else
                        times.push('08:00')
                }
            })
            
            this.sumTimes(times)
        },
    
        async getCurrentWorkedTime(){
            const actualMonth = this.today.format('MM')
            const actualYear = this.today.format('YYYY')
    
            await axios.get(`/api/user/timetable-sum-worked-time/${actualYear}/${actualMonth}`)
            .then(({ data }) => {
                this.workTime = data
            })
        },
        
        async sumTimes(times){
            await axios.post('/api/user/sum-times', {
                times: times
            })
            .then(({ data }) => {
                this.monthWorkTime = data
            })
        }
    }
}
</script>
