<template>
    <b-navbar toggleable="lg" type="dark" variant="dark" fixed="top" :class="{ 'd-none' : isAuthPage }">
        <b-container>
            <b-navbar-brand to="/" href="#">Jikan</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
<!--                <b-navbar-nav>-->
<!--                    <b-nav-item to="/about" href="#">about</b-nav-item>-->
<!--                </b-navbar-nav>-->
    
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item to="/register" href="/register">Zarejestruj</b-nav-item>
                    <b-nav-item to="/login" href="/login">Zaloguj</b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
    </b-navbar>
</template>

<script>
export default {
    name: 'GuestNavbar',
    
    computed: {
        isAuthPage(){
            if(this.$route.name === 'register' || this.$route.name === 'login')
                return true
            
            return false
        }
    }
}
</script>

<style>
.navbar{
    padding: 0.63rem 1rem !important;
}
</style>