<template>
    <div class="navbar-auth">
        <b-navbar variant="transparent" fixed="top">
            <b-button v-b-toggle.sidebar-1 class="position-fixed">Menu</b-button>
        </b-navbar>
        <b-sidebar id="sidebar-1" :title="getName" variant="dark" shadow>
            <div class="px-3 py-2">
                <b-nav vertical>
                    <template v-if="isUser">
                        <b-nav-item to="/table-time">Lista godzin</b-nav-item>
                        <b-nav-item to="/settings">Ustawienia</b-nav-item>
                    </template>
                    <template v-else>
                        <b-nav-item to="/admin/users">Lista użytkowników</b-nav-item>
<!--                        <b-nav-item :to="{ name: 'admin.AdminUsers' }">Lista użytkowników</b-nav-item>-->
                    </template>
                    <b-nav-item @click.prevent="logout">Wyloguj</b-nav-item>
                </b-nav>
            </div>
        </b-sidebar>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Sidebar',
    
    computed: {
        ...mapGetters({
            user: 'auth/user',
            isUser: 'auth/isUser',
        }),
        
        getName() {
            return `Witaj ${this.user.name}`
        }
    },
    
    methods: {
        async logout () {
            await this.$store.dispatch('auth/logout')
            
            this.$router.push({ name: 'login' })
        },
    }
}
</script>

<style scoped>

</style>