<template>
    <div class="banner">
        <div class="banner-bg"></div>
        <div class="banner-container">
            <div class="banner-info" data-aos="fade-right" data-aos-delay="500">
                <h1 data-aos="fade-right" data-aos-delay="500">JIKAN</h1>
                <h2 data-aos="fade-left" data-aos-delay="1000">System ewidencji godzin czasu pracy</h2>
                <h2 data-aos="fade-right" data-aos-delay="1500">Sprawdź już teraz!</h2>
                <div data-aos="fade-left" data-aos-delay="2000">
                    <router-link to="/register" class="btn btn-primary mt-2">Zarejetruj się</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'banner'
}
</script>

<style scoped lang="scss">
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    .banner-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/img/homepage/banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    
    .banner-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .banner-info{
            text-align: center;
            color: #2e343c;
            background-color: rgba(255, 255, 255, .3);
            padding: 25px;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 4px 4px 20px -6px #222;
            
            h1{
                font-size: 6em;
                font-weight: 600;
                text-shadow: 2px 2px 6px #222;
            }
            
            h2{
                font-size: 3em;
            }
        }
    }
}

@media (max-width: 767px) {
    .banner{
        .banner-container{
            padding: 10px;
            
            .banner-info{
                h1{
                    font-size: 3em;
                }
                
                h2{
                    font-size: 1.5em;
                }
            }
        }
    }
}
</style>