<template>
    <footer class="bg-dark text-center text-white mt-5">
        <div class="container p-4">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>
                
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-twitter"></i>
                </a>
                
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-google"></i>
                </a>
                
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-instagram"></i>
                </a>
            </section>
            
            <!-- Section: Form -->
            <section class="">
                <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Zapisz się do naszego newslettera</strong>
                            </p>
                        </div>
                        <!--Grid column-->
                        
                        <!--Grid column-->
                        <div class="col-md-5 col-12">
                            <!-- Email input -->
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example21" class="form-control" />
                                <label class="form-label" for="form5Example21">Email adres</label>
                            </div>
                        </div>
                        <!--Grid column-->
                        
                        <!--Grid column-->
                        <div class="col-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-light mb-4">
                                Subskrybuj
                            </button>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </section>
            
            
            <div class="row mb-4">
                <div class="col-12 col-md-6">
                    <p class="mb-0 text-left">
                        Dołącz już dziś do naszegoo grona użytkoników i nie martw się, że czy dobrze policzyłeś swoje godziny!<br>
                        Nasz dział jest dostępny 24/7<br>
                        
                    </p>
                </div>
                <div class="col-12 col-md-6 text-right">
                    <p class="mb-0 font-weight-bold">
                        Jikan
                    </p>
                    <p class="mb-0">
                        <a href="tel:789789789">789789789</a>
                    </p>
                    <p class="mb-0">
                        <a href="mail:kontakt@jikan.pl">kontakt@jikan.pl</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="#!">Szymon Gołębiewski</a>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'Footer',
}
</script>