<template>
    <div class="container mt-4">
        <h1 class="text-center" data-aos="fade-down">O systemie</h1>
        
        <p class="text-center" style="font-size: 18px">
            System jest prosty i intuicyjny
        </p>
    </div>
</template>

<script>
export default {
    name: 'System'
}
</script>

<style scoped>

</style>