<template>
    <div class="container mt-4">
        <h1 class="text-center" data-aos="fade-down">Dlaczego warto wybrać nasz system?</h1>
        
        <div class="benefits">
            <div class="benefits-item" v-for="(benefit, index) in benefits" :data-aos="(index % 2 === 0) ? 'fade-right' : 'fade-left'">
                <div class="icon">
                    <i :class="['custom', benefit.icon]"></i>
                </div>
                <div class="info">
                    <h3>{{ benefit.title }}</h3>
                    <p class="mb-0">
                        {{ benefit.info }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'WhyWorthIt',
    
    data(){
        return{
            benefits: [
                {
                    title: 'Oszczędność',
                    icon: 'fas fa-piggy-bank',
                    info: 'System jest całkowicie darmowy, wystarczy się zalogować i korzystać!',
                },
                {
                    title: 'Czas',
                    icon: 'fas fa-hourglass-half',
                    info: 'Nie marnuj czasu na ręczne uzupełnianie listy. Zaloguj się i wpisz godzine.',
                },
                {
                    title: 'Wygoda',
                    icon: 'fas fa-globe-europe',
                    info: 'Korzystaj z aplikacji bez względu na urządzenie oraz miejsce. Działa przez przeglądarkę na komputerze, tablecie oraz smartfonie.',
                },
                {
                    title: 'Automatyzacja',
                    icon: 'fas fa-robot',
                    info: 'Zastąp papierowy obieg dokumentów cyfrowym.',
                }
            ]
        }
    }
}
</script>

<style scoped lang="scss">
.benefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .benefits-item{
        flex: 0 0 46%;
        max-width: 46%;
        margin-top: 15px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 140px;
        position: relative;
        overflow: hidden;
        background-color: #202a2f;
        border-radius: 5px;
        box-shadow: 0 0.2rem 1rem rgba(255, 255, 255, 0.2);
        transition: all .3s;
        
        .icon{
            width: 100px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(13deg);
            left: -13px;
            transition: all .3s;
            
            .custom{
                font-size: 4em;
            }
        }
    
        .info{
            padding-left: 100px;
        }
        
        &:hover{
            background-color: #3b484f;
            
            .icon{
                transform: translateY(-50%) rotate(0deg) scale(1.1);
            }
        }
        
        &:nth-of-type(odd){
            margin-right: 2%;
        }
    
        &:nth-of-type(even){
            margin-left: 2%;
        }
    }
}

@media (max-width: 991px) {
    .benefits{
        flex-direction: row;
        
        .benefits-item {
            flex: 0 0 100%;
            max-width: 100%;
    
            &:nth-of-type(odd),
            &:nth-of-type(even){
                margin: 15px 0;
            }
        }
    }
}
</style>