<template>
    <div class="auth-container">
        <div class="auth-bg login">
            <div class="auth-bg-shadow"></div>
        </div>
        <div class="auth-form">
            <div class="form-content">
                <form class="form-customize box-shadow" @submit.prevent="login" novalidate="novalidate" autocomplete="off">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input
                            v-model="email"
                            id="email"
                            :class="['form-control', { 'is-invalid': $v.email.$error }]"
                            type="email"
                            @input="$v.email.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.email.$dirty && !$v.email.required">Pole e-mail wymagane</div>
                        <div class="invalid-feedback" v-if="$v.email.$dirty && !$v.email.email">Nie poprawny format e-mail</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Hasło</label>
                        <input
                            v-model="password"
                            id="password"
                            :class="['form-control', { 'is-invalid': $v.password.$error }]"
                            type="password"
                            @input="$v.password.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.password.$dirty && !$v.password.required">Pole hasło jest wymagane</div>
                    </div>
                    
                    <div class="form-group mb-0">
                        <button class="btn btn-primary">Zaloguj się</button>
                    </div>
                </form>
                
                <div class="auth-info">
                    Nie masz jeszcze konta? <router-link to="/register">Zarejestruj się</router-link>.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'

export default {
    name: "Login",
    
    mixins: [validationMixin],
    
    data(){
        return{
            email: '',
            password: '',
        }
    },
    
    computed: {
        ...mapGetters({
            isUser: 'auth/isUser',
            isAdmin: 'auth/isAdmin',
        }),
    },
    
    methods: {
        async login(){
            this.$v.$touch()
            await axios.post('/api/login', {
                email: this.email,
                password: this.password
            })
            .then(({ data }) => {
                this.$store.dispatch('auth/saveToken', {
                    token: data.token
                })
    
                this.$store.dispatch('auth/fetchUser')
                setTimeout(() => {
                    if(this.isUser) this.$router.push({ name: 'TableTime' })
                    else if(this.isAdmin) this.$router.push({ name: 'admin.AdminUsers' })
                    else this.$router.push({ name: 'home' })
                }, 500)
            })
            .catch(error => {
                console.log(error)
            })
        }
    },
    
    validations: {
        email: {
            required,
            email
        },
        password: {
            required
        },
    }
}
</script>