<template>
    <div class="auth-container">
        <div class="auth-bg">
            <div class="auth-bg-shadow"></div>
        </div>
        <div class="auth-form">
            <div class="form-content">
                <form class="form-customize box-shadow" @submit.prevent="register" novalidate="novalidate" autocomplete="off">
                    <div class="form-group">
                        <label for="name">Imię</label>
                        <input
                            v-model.trim="name"
                            id="name"
                            :class="['form-control', { 'is-invalid': $v.name.$error }]"
                            type="text"
                            @input="$v.name.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.name.$dirty && !$v.name.required">Pole imię jest wymagane</div>
                    </div>
                    <div class="form-group">
                        <label for="surname">Nazwisko</label>
                        <input
                            v-model.trim="surname"
                            id="surname"
                            :class="['form-control', { 'is-invalid': $v.surname.$error }]"
                            type="text"
                            @input="$v.surname.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.surname.$dirty && !$v.surname.required">Pole nazwisko wymagane</div>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input
                            v-model="email"
                            id="email"
                            :class="['form-control', { 'is-invalid': $v.email.$error }]"
                            type="email"
                            @input="$v.email.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.email.$dirty && !$v.email.required">Pole e-mail wymagane</div>
                        <div class="invalid-feedback" v-if="$v.email.$dirty && !$v.email.email">Nie poprawny format e-mail</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Hasło</label>
                        <input
                            v-model="password"
                            id="password"
                            :class="['form-control', { 'is-invalid': $v.password.$error }]"
                            type="password"
                            @input="$v.password.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.password.$dirty && !$v.password.required">Pole hasło jest wymagane</div>
                    </div>
                    <div class="form-group">
                        <label for="password_confirmation">Powtórz hasło</label>
                        <input
                            v-model="password_confirmation"
                            id="password_confirmation"
                            :class="['form-control', { 'is-invalid': $v.password_confirmation.$error }]"
                            type="password"
                            @input="$v.password_confirmation.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.password_confirmation.$error">Hasła muszą być takie same</div>
                    </div>
    
                    <div class="form-group mb-0">
                        <button class="btn btn-primary">Zarejestruj się</button>
                    </div>
                </form>
                
                <div class="auth-info">
                    Jeśli masz już konto, <router-link to="/login">zaloguj się</router-link>.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { validationMixin } from 'vuelidate'
import { required, email, sameAs } from 'vuelidate/lib/validators'

export default {
    name: "Register",
    
    mixins: [validationMixin],
    
    data(){
        return{
            name: '',
            surname: '',
            email: '',
            password: '',
            password_confirmation: ''
        }
    },
    
    methods: {
        async register(){
            this.$v.$touch()
            await axios.post('api/register', {
                name: this.name,
                surname: this.surname,
                email: this.email,
                password: this.password
            })
            .then(() => {
                this.$toast.success("Zarejestrowałeś się! Za 5sek zostaniesz przeniesiony na stronę logowania")
                
                setTimeout(() => {
                    this.$router.push({ name: 'login' })
                }, 5000)
            })
            .catch((error) => {
                if(error.response.status === 422){
                    this.$toast.error("Uzupełnij wszystkie pola")
                }else{
                    this.$toast.error("Upss! Coś poszło nie tak")
                }
            })
        }
    },
    
    validations: {
        name: {
            required
        },
        surname: {
            required
        },
        email: {
            required,
            email
        },
        password: {
            required
        },
        password_confirmation: {
            sameAsPassword: sameAs('password')
        },
    }
}
</script>