<template>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>Dane użytkownika</h3>
                <form @submit.prevent="updateUser" novalidate="novalidate" autocomplete="off">
                    <div class="form-group">
                        <label>Imię</label>
                        <input
                            v-model.trim="name"
                            :class="['form-control', { 'is-invalid' : $v.name.$error }]"
                            type="text"
                            placeholder="Imię"
                            @input="$v.name.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.name.$dirty && !$v.name.required">Pole Imię jest wymagane</div>
                        <div class="invalid-feedback" v-if="!$v.name.maxLength">
                            Pole może mieć maksymalnie {{ $v.name.$params.maxLength.max }} znaków
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label>Nazwisko</label>
                        <input
                            v-model.trim="surname"
                            :class="['form-control', { 'is-invalid' : $v.surname.$error }]"
                            type="text"
                            placeholder="Nazwisko"
                            @input="$v.surname.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.surname.$dirty && !$v.surname.required">Pole Nazwisko jest wymagane</div>
                        <div class="invalid-feedback" v-if="!$v.surname.maxLength">
                            Pole może mieć maksymalnie {{ $v.surname.$params.maxLength.max }} znaków
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label>Województwo</label>
                        <input
                            v-model.trim="province"
                            :class="['form-control', { 'is-invalid' : $v.province.$error }]"
                            type="text"
                            placeholder="Województwo"
                            @input="$v.province.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.province.$dirty && !$v.province.required">Pole Województwo jest wymagane</div>
                        <div class="invalid-feedback" v-if="!$v.province.maxLength">
                            Pole może mieć maksymalnie {{ $v.province.$params.maxLength.max }} znaków
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label>Miasto</label>
                        <input
                            v-model.trim="city"
                            :class="['form-control', { 'is-invalid' : $v.city.$error }]"
                            type="text"
                            placeholder="Miasto"
                            @input="$v.city.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.city.$dirty && !$v.city.required">Pole Miasto jest wymagane</div>
                        <div class="invalid-feedback" v-if="!$v.city.maxLength">
                            Pole może mieć maksymalnie {{ $v.city.$params.maxLength.max }} znaków
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label>Ulica</label>
                        <input
                            v-model.trim="street"
                            :class="['form-control', { 'is-invalid' : $v.street.$error }]"
                            type="text"
                            placeholder="Ulica"
                            @input="$v.street.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.street.$dirty && !$v.street.required">Pole Ulica jest wymagane</div>
                        <div class="invalid-feedback" v-if="!$v.street.maxLength">
                            Pole może mieć maksymalnie {{ $v.city.$params.maxLength.max }} znaków
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label>Nr mieszkania</label>
                        <input
                            v-model.trim="house_number"
                            :class="['form-control', { 'is-invalid' : $v.house_number.$error }]"
                            type="text"
                            placeholder="Nr mieszkania"
                            @input="$v.house_number.$touch()"
                            autocomplete="new-password"
                        >
                        <div class="invalid-feedback" v-if="$v.house_number.$dirty && !$v.house_number.required">Pole Nr mieszkania jest wymagane</div>
                        <div class="invalid-feedback" v-if="!$v.house_number.numeric">
                            Pole musi zawierać cyfry
                        </div>
                    </div>
    
                    <div class="form-group mb-0">
                        <button class="btn btn-primary">Aktualizuj</button>
                    </div>
                </form>
            </div>
            
            <div class="col-12 col-md-6">
                <h3>Dane użytkownika</h3>
                <form @submit.prevent="updateUserSettings" novalidate="novalidate" autocomplete="off">
                    <div class="form-group">
                        <label>Ilość godzin pracy dziennie</label>
                        <b-form-timepicker
                            v-model="hours_daily"
                            placeholder="Ilość godzin pracy dziennie"
                            :class="['form-control', { 'is-invalid' : $v.hours_daily.$error }]"
                            @input="$v.hours_daily.$touch()"
                            locale="pl"
                            minutes-step="60"
                        >
                        </b-form-timepicker>
                        <div class="invalid-feedback" v-if="$v.hours_daily.$dirty && !$v.hours_daily.required">Pole Ilość godzin pracy dziennie jest wymagane</div>
                    </div>
    
                    <div class="form-group">
                        <div class="custom-control custom-switch custom-control-lg">
                            <input
                                v-model="working_saturday" type="checkbox" class="custom-control-input" id="working_saturday"
                                :true-value="1"
                                :false-value="0"
                            >
                            <label class="custom-control-label" for="working_saturday">Czy w sobotę pracujesz?</label>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <div class="custom-control custom-switch custom-control-lg">
                            <input
                                v-model="working_sunday" type="checkbox" class="custom-control-input" id="working_sunday"
                                :true-value="1"
                                :false-value="0"
                            >
                            <label class="custom-control-label" for="working_sunday">Czy w niedziele pracujesz?</label>
                        </div>
                    </div>
    
                    <div class="form-group mb-0">
                        <button class="btn btn-primary">Aktualizuj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { validationMixin } from 'vuelidate'
import { required, maxLength, numeric } from 'vuelidate/lib/validators'

export default {
    name: 'Settings',
    
    mixins: [validationMixin],
    
    data(){
        return{
            name: '',
            surname: '',
            province: '',
            city: '',
            street: '',
            house_number: null,
            hours_daily: '',
            working_saturday: 0,
            working_sunday: 0,
            isEditSettings: false,
        }
    },
    
    created() {
        this.getUserInfo()
        this.getUserSettings()
    },
    
    methods: {
        async getUserInfo(){
            await axios.get('/api/user/info')
            .then(({ data }) => {
                this.name = data.name
                this.surname = data.surname
                this.province = data.province
                this.city = data.city
                this.street = data.street
                this.house_number = data.house_number
            })
        },
    
        async getUserSettings(){
            await axios.get('/api/user/settings')
                .then(({ data }) => {
                    this.hours_daily = data.hours_daily
                    this.working_saturday = data.working_saturday
                    this.working_sunday = data.working_sunday
                    
                    if(data.hours_daily.length) this.isEditSettings = true
                })
        },
    
        updateUserSettings(){
            this.$v.hours_daily.$touch()
            
            if(!this.$v.hours_daily.$invalid){
                const URL = this.isEditSettings ? '/api/user/update-settings' : '/api/user/add-settings'
                const axiosMethod = this.isEditSettings ? 'patch' : 'post'
                const sendData = {
                    hours_daily: this.hours_daily,
                    working_saturday: this.working_saturday,
                    working_sunday: this.working_sunday
                }
    
                axios({
                    method: axiosMethod,
                    url: URL,
                    data: sendData
                })
                .then(() => {
                    this.$toast.success("Zaktualizowano ustawienia")
                })
                .catch(e => {
                    this.$toast.error("Upss! Coś poszło nie tak")
                })
            }
        },
        
        updateUser(){
            this.$v.name.$touch()
            this.$v.surname.$touch()
            this.$v.province.$touch()
            this.$v.city.$touch()
            this.$v.street.$touch()
            this.$v.house_number.$touch()
            
            const sendData = {
                name: this.name,
                surname: this.surname,
                province: this.province,
                city: this.city,
                street: this.street,
                house_number: this.house_number,
            }
            
            if(!this.$v.name.$invalid && !this.$v.surname.$invalid && !this.$v.province.$invalid && !this.$v.city.$invalid && !this.$v.street.$invalid && !this.$v.house_number.$invalid){
                axios.post('/api/user/update', sendData)
                    .then(() => {
                        this.$toast.success('Zaktualizowano dane')
                    })
                    .catch((error) => {
                        if(error.response.status === 422){
                            this.$toast.error("Uzupełnij wszystkie pola")
                        }else{
                            this.$toast.error("Upss! Coś poszło nie tak")
                        }
                    })
            }
        }
    },
    
    validations: {
        name: {
            required,
            maxLength: maxLength(100)
        },
        surname: {
            required,
            maxLength: maxLength(100)
        },
        province: {
            required,
            maxLength: maxLength(100)
        },
        city: {
            required,
            maxLength: maxLength(100)
        },
        street: {
            required,
            maxLength: maxLength(200)
        },
        house_number: {
            required,
            numeric
        },
        hours_daily: {
            required,
        },
    }
}
</script>

<style scoped>

</style>