<template>
    <div class="container">
        <Timetable></Timetable>
    </div>
</template>

<script>
import Timetable from '@/components/timetable/Timetable'

export default {
    name: 'TableTime',
    
    components: {
        Timetable
    }
}
</script>

<style scoped>

</style>