<template>
    <b-modal :id="idModal" :title="title" :hide-footer="true">
    
    </b-modal>
</template>

<script>
export default {
    name: 'AddUserModal',
    
    props: ['idModal', 'title']
}
</script>

<style scoped>

</style>