<template>
    <div class="container">
        <div class="d-flex justify-content-center my-3" v-if="!usersArray">
            <b-spinner variant="primary" label="Spinning"></b-spinner>
        </div>
        <div class="table-responsive mt-4" v-else>
            <b-table
                :items="usersArray"
                :fields="fields"
                responsive="md"
            >
            </b-table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'UsersList',
    
    data(){
        return{
            usersArray: null,
            fields: [
                { key: 'id', label: 'ID' },
                { key: 'name', label: 'Imię' },
                { key: 'surname', label: 'Nazwisko' },
                { key: 'email', label: 'Email' }
            ],
        }
    },
    
    created() {
        this.getUsers()
    },
    
    methods: {
        async getUsers(){
            await axios.get('/api/admin/users')
                .then(({ data }) => {
                    this.usersArray = data
                })
        },
    },
}
</script>

<style lang="scss">
.table{
    color: #fff;
}
</style>