.auth-container{
    display: flex;
    flex-direction: column;
    margin-top: -60px !important;
    background: #2e343c;
    color: #fff;

    .auth-bg,
    .auth-form{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .auth-bg{
        &.login{
            background-image: url('~@/assets/img/auth/bg-login.jpg');
        }

        background-image: url('~@/assets/img/auth/bg-register.jpg');
        background-size: cover;
        position: relative;
        min-height: 300px;

        .auth-bg-shadow{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
        }
    }

    .auth-form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        margin-top: 60px;

        .form-content{
            max-width: 475px;
            width: 100%;
            overflow-y: auto;
            padding: 5px 15px;

            .form-customize{
                padding: 15px;
                border-radius: 5px;

                .form-group{
                    display: flex;
                    flex-direction: column;

                    label{
                        text-align: left;
                    }
                }
            }
        }

        .auth-info{
            margin-top: 20px;
        }
    }
}

@media (min-width: 992px) {
    .auth-container{
        display: flex;
        flex-direction: row;
        height: calc(100vh + 60px);

        .auth-bg,
        .auth-form{
            flex: 0 0 50%;
            max-width: 50%;
        }

        .auth-bg{
            background-image: url('~@/assets/img/auth/bg-register.jpg');
            background-size: cover;
        }

        .auth-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px;
        }
    }
}