.timetable{
    .timetable-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        h3{
            margin-bottom: 0;
        }

        .btn{
            background: $main-color;
            color: $bg-color;
            transition: $transition;

            &:hover{
                opacity: .9;
            }
        }
    }

    .timetable-body-header{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        div{
            padding: 0 10px;
            flex: 0 0 25%;
            max-width: 25%;
            text-align: center;
        }
    }

    .timetable-body-date{
        display: flex;
        flex-direction: column;
        border: 1px solid;
        border-radius: 3px;

        .timetable-body-date-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid;

            > div{
                padding: 0 10px;
                flex: 0 0 25%;
                max-width: 25%;
                text-align: center;

                p{
                    margin-bottom: 0;
                }
            }

            &.isSaturday{
                background: $isSaturday;
            }

            &.isSunday{
                background: $isSunday;
            }
        }
    }
}