<template>
    <div id="app">
        <Sidebar v-if="user"></Sidebar>
        <GuestNavbar v-else></GuestNavbar>
        <div class="render-body">
            <transition name="fade" mode="out-in">
                <router-view/>
            </transition>
        </div>
    </div>
</template>

<script>
import GuestNavbar from '@/components/headers/GuestNavbar'
import Sidebar from '@/components/sidebar/Sidebar'
import { mapGetters } from 'vuex'

export default {
    name: 'App',
    
    components: {
        GuestNavbar,
        Sidebar
    },
    
    computed: {
        ...mapGetters({ user: 'auth/user' }),
    }
}
</script>

<style lang="scss">
.navbar{
    + div{
        margin-top: 60px;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
</style>
