<template>
    <div>
        <Banner/>
        <System />
        <WhyWorthIt />
        <Footer/>
    </div>
</template>

<script>
import Banner from '@/components/homepage/banner'
import System from '@/components/homepage/System'
import WhyWorthIt from '@/components/homepage/WhyWorthIt'
import Footer from '@/components/homepage/Footer'

export default {
    name: 'Home',
    
    components: {
        Banner,
        System,
        WhyWorthIt,
        Footer,
    },
    
    mounted() {
    
    },
    
    methods: {
    }
}
</script>
